<section id="FAQ">
    <section class="faq-container">
        <div class="container">
            <h1 data-aos="fade-right" class="text-center text-white">FAQ</h1><br>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="faq-item">
                        <div data-aos="fade-right" class="card">
                            <div class="card-header">
                                <a href="#faq1" data-toggle="collapse">1. How do I determine my shoe size when buying online?</a>
                            </div>
                            <div id="faq1" class="collapse" data-parent=".faq-item">
                                <div class="card-body">
                                    We recommend using our size chart and measurement guide available on our website to find your perfect fit. You can also refer to customer reviews for additional sizing insights.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="card">
                            <div data-aos="fade-left" class="card-header">
                                <a href="#faq2" data-toggle="collapse">2. What is your return policy for online purchases?</a>
                            </div>
                            <div id="faq2" class="collapse" data-parent=".faq-item">
                                <div class="card-body">
                                    We offer a hassle-free 30-day return policy for all online orders. If the shoes don't fit or meet your expectations, you can return them within 30 days for a full refund or exchange.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div data-aos="fade-right" class="card">
                            <div class="card-header">
                                <a href="#faq3" data-toggle="collapse">3. How do I track my online order?</a>
                            </div>
                            <div id="faq3" class="collapse" data-parent=".faq-item">
                                <div class="card-body">
                                    After your order is processed, you will receive a tracking number via email. You can use this number to track the status and location of your order on our website.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="card">
                            <div data-aos="fade-left" class="card-header">
                                <a href="#faq4" data-toggle="collapse">4. Are online payments secure on your website?</a>
                            </div>
                            <div id="faq4" class="collapse" data-parent=".faq-item">
                                <div class="card-body">
                                    Yes, we use industry-standard encryption and secure payment gateways to protect your personal and financial information during online transactions.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div data-aos="fade-right" class="card">
                            <div class="card-header">
                                <a href="#faq5" data-toggle="collapse">5. Can I cancel my online order after it's been placed?</a>
                            </div>
                            <div id="faq5" class="collapse" data-parent=".faq-item">
                                <div class="card-body">
                                    You can cancel your order within 24 hours of purchase. Contact our customer support team for assistance.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add more FAQ items as needed -->
                </div>
            </div>
        </div>
    </section>
</section>