<section id="shipping">
    <section class="shipping-section">
        <div class="container">
            <div class="row">
                <div data-aos="zoom-out" class="col-lg-8 mx-auto text-center">
                    <h2 class="shipping-heading">Shipping Information</h2>
                    <p class="shipping-content">
                        At FeetSoe, we provide fast and reliable shipping services to ensure that you receive your
                        favorite shoes as quickly as possible. Our shipping options include standard and express
                        delivery.
                    </p>
                    <p class="shipping-content">
                        <strong>Standard Shipping:</strong> Standard shipping typically takes 3-5 business days to
                        deliver your order. It's a cost-effective option for those who don't need their shoes urgently.
                    </p>
                    <p class="shipping-content">
                        <strong>Express Shipping:</strong> If you need your shoes right away, you can choose our express
                        shipping option. Your order will be delivered within 1-2 business days.
                    </p>
                    <p class="shipping-content">
                        Please note that shipping times may vary based on your location and order volume. For more
                        detailed information about shipping rates and delivery times, please check our shipping policy
                        or contact our customer support.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>